<div class="pb-3">Welcome to our StudySpot App :D</div>

<div class="row">
  <!--Left Column-->
  <div class="col-6 themed-grid-col">
    <!--Left Room 1-->
    <div class="card border-light mb-3">
      <h2 style="text-align: left">
        TRXX1
        <ion-icon
          name="heart-outline"
          size="large"
          style="float: right"
        ></ion-icon>
        <!--Enter code to fill up heart here-->
      </h2>

      <!--Left Room1 Body-->
      <div class="row">
        <!--Left Button Column-->
        <div class="col-6 themed-grid-col px-1">
          <div class="d-grid">
            <div class="btn-group-vertical">
              <input
                type="checkbox"
                class="btn-check"
                id="btn-8to9-trxx1"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-8to9-trxx1"
                >08:30 - 09:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-9to10-trxx1"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-9to10-trxx1"
                >09:30 - 10:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-10to11-trxx1"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-10to11-trxx1"
                >10:30 - 11:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-11to12-trxx1"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-11to12-trxx1"
                >11:30 - 12:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-12to13-trxx1"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-12to13-trxx1"
                >12:30 - 13:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-13to14-trxx1"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-13to14-trxx1"
                >13:30 - 14:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-14to15-trxx1"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-14to15-trxx1"
                >14:30 - 15:30</label
              >
            </div>
          </div>
        </div>

        <!--Right Button Column-->
        <div class="col-6 themed-grid-col px-1">
          <div class="d-grid">
            <div class="btn-group-vertical">
              <input
                type="checkbox"
                class="btn-check"
                id="btn-15to16-trxx1"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-15to16-trxx1"
                >15:30 - 16:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-16to17-trxx1"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-16to17-trxx1"
                >16:30 - 17:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-17to18-trxx1"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-17to18-trxx1"
                >17:30 - 18:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-18to19-trxx1"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-18to19-trxx1"
                >18:30 - 19:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-19to20-trxx1"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-19to20-trxx1"
                >19:30 - 20:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-20to21-trxx1"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-20to21-trxx1"
                >20:30 - 21:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-21to22-trxx1"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-21to22-trxx1"
                >21:30 - 22:30</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Right Column-->
  <div class="col-6 themed-grid-col">
    <!--Right Room 1-->
    <div class="card border-light mb-3">
      <h2 style="text-align: left">
        TRXX2
        <ion-icon
          name="heart-outline"
          size="large"
          style="float: right"
        ></ion-icon>
        <!--Enter code to fill up heart here-->
      </h2>

      <!-- Right Room1 Body-->
      <div class="row">
        <!--Left Button Column-->
        <div class="col-6 themed-grid-col px-1">
          <div class="d-grid">
            <div class="btn-group-vertical">
              <input
                type="checkbox"
                class="btn-check"
                id="btn-8to9-trxx2"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-8to9-trxx2"
                >08:30 - 09:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-9to10-trxx2"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-9to10-trxx2"
                >09:30 - 10:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-10to11-trxx2"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-10to11-trxx2"
                >10:30 - 11:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-11to12-trxx2"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-11to12-trxx2"
                >11:30 - 12:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-12to13-trxx2"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-12to13-trxx2"
                >12:30 - 13:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-13to14-trxx2"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-13to14-trxx2"
                >13:30 - 14:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-14to15-trxx2"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-14to15-trxx2"
                >14:30 - 15:30</label
              >
            </div>
          </div>
        </div>

        <!--Right Button Column-->
        <div class="col-6 themed-grid-col px-1">
          <div class="d-grid">
            <div class="btn-group-vertical">
              <input
                type="checkbox"
                class="btn-check"
                id="btn-15to16-trxx2"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-15to16-trxx2"
                >15:30 - 16:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-16to17-trxx2"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-16to17-trxx2"
                >16:30 - 17:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-17to18-trxx2"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-17to18-trxx2"
                >17:30 - 18:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-18to19-trxx2"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-18to19-trxx2"
                >18:30 - 19:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-19to20-trxx2"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-19to20-trxx2"
                >19:30 - 20:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-20to21-trxx2"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-20to21-trxx2"
                >20:30 - 21:30</label
              >
              <input
                type="checkbox"
                class="btn-check"
                id="btn-21to22-trxx2"
                autocomplete="off"
              />
              <label class="btn btn-outline-dark" for="btn-21to22-trxx2"
                >21:30 - 22:30</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
