<div class="flex-shrink-0 p-3 bg-white">
  <a
    href="/"
    class="
      d-flex
      align-items-center
      pb-3
      mb-3
      link-dark
      text-decoration-none
      border-bottom
    "
  >
    <span class="fs-5 fw-semibold">Filter Rooms</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#school-collapse"
        aria-expanded="false"
      >
        School
      </button>
      <div class="collapse" id="school-collapse">
        <form
          class="
            btn-toggle-nav
            list-unstyled
            fw-normal
            pb-1
            mx-2
            small
            overflow-auto
          "
          style="max-height: 100px"
        >
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="ADM" />
            <label class="form-check-label" for="ADM"> ADM </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="LHN" />
            <label class="form-check-label" for="LHN"> LHN </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="BIW" />
            <label class="form-check-label" for="BIW"> BIW </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="CBE" />
            <label class="form-check-label" for="CBE"> CBE </label>
          </div>
        </form>
      </div>
    </li>
    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#time-collapse"
        aria-expanded="false"
      >
        Time
      </button>
      <div class="collapse" id="time-collapse">
        <form
          class="
            btn-toggle-nav
            list-unstyled
            fw-normal
            pb-1
            mx-2
            small
            overflow-auto
          "
          style="max-height: 100px"
        >
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="time01"
            />
            <label class="form-check-label" for="time01"> 0830 - 0930 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="time02"
            />
            <label class="form-check-label" for="time02"> 0930 - 1030 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="time03"
            />
            <label class="form-check-label" for="time03"> 1030 - 1130 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="time04"
            />
            <label class="form-check-label" for="time04"> 1230 - 1330 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="time05"
            />
            <label class="form-check-label" for="time05"> 1330 - 1430 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="time06"
            />
            <label class="form-check-label" for="time06"> 1430 - 1530 </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="time07"
            />
            <label class="form-check-label" for="time07"> 1530 - 1630 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="time08"
            />
            <label class="form-check-label" for="time08"> 1630 - 1730 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="time08"
            />
            <label class="form-check-label" for="time08"> 1730 - 1830 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="time09"
            />
            <label class="form-check-label" for="time09"> 1830 - 1930 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="time10"
            />
            <label class="form-check-label" for="time10"> 1930 - 2030 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="time11"
            />
            <label class="form-check-label" for="time11"> 2030 - 2130 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="time12"
            />
            <label class="form-check-label" for="time12"> 2130 - 2230 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="time13"
            />
            <label class="form-check-label" for="time13"> 2230 - 2330 </label>
          </div>
        </form>
      </div>
    </li>
    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#day-collapse"
        aria-expanded="false"
      >
        Day
      </button>
      <div class="collapse" id="day-collapse">
        <form
          class="
            btn-toggle-nav
            list-unstyled
            fw-normal
            pb-1
            mx-2
            small
            overflow-auto
          "
          style="max-height: 100px"
        >
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="monday"
            />
            <label class="form-check-label" for="monday"> Monday </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="tuesday"
            />
            <label class="form-check-label" for="tuesday"> Tuesday </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="wednesday"
            />
            <label class="form-check-label" for="wednesday"> Wednesday </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="thursday"
            />
            <label class="form-check-label" for="thursday"> Thursday </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="friday"
            />
            <label class="form-check-label" for="friday"> Friday </label>
          </div>
        </form>
      </div>
    </li>
    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#tags-collapse"
        aria-expanded="false"
      >
        Tags
      </button>
      <div class="collapse" id="tags-collapse">
        <form
          class="
            btn-toggle-nav
            list-unstyled
            fw-normal
            pb-1
            mx-2
            small
            overflow-auto
          "
          style="max-height: 100px"
        >
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="alone"
            />
            <label class="form-check-label" for="alone"> Alone </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="group"
            />
            <label class="form-check-label" for="group"> Group </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="meeting"
            />
            <label class="form-check-label" for="meeting"> Meeting </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="quiet"
            />
            <label class="form-check-label" for="quiet"> Quiet </label>
          </div>
        </form>
      </div>
    </li>
    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#buddy-collapse"
        aria-expanded="false"
      >
        StudyBuddy
      </button>
      <div class="collapse" id="buddy-collapse">
        <form class="btn-toggle-nav list-unstyled fw-normal pb-1 mx-2 small">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="studytgt"
            />
            <label class="form-check-label" for="studytgt">
              Study Together
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="studymod"
            />
            <label class="form-check-label" for="studymod"> Study Mod </label>
          </div>
          <div class="input-group">
            <input
              class="form-control"
              type="search"
              placeholder="Search for Mod"
              aria-label="Search"
            />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-search"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                  ></path>
                </svg>
              </button>
            </span>
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>
