<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <div><%- include('../partials/sidebar'); %></div>
    <main>
      <div class="jumbotron">
        <h1>StudySpot</h1>
        <p>Welcome to our StudySpot App :D</p>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
