<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div class="container-fluid">
      <div><%- include('../partials/header'); %></div>
      <div class="jumbotron">
        <h1>My Bookings</h1>
        <p>My Bookings Page</p>
      </div>
    </div>
    <footer class="mt-auto"><%- include('../partials/footer'); %></footer>
  </body>
</html>
