<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div class="container-fluid">
      <div><%- include('../partials/loginheader'); %></div>
      <div class="container-fluid my-5 py-3" style="max-width: 500px">
        <!--new to studyspot and already registered tabs-->
        <ul
          class="nav nav-tabs d-flex justify-content-center"
          id="myTab"
          role="tablist"
        >
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="home-tab"
              data-bs-toggle="tab"
              data-bs-target="#register"
              type="button"
              role="tab"
              aria-controls="register"
              aria-selected="false"
            >
              New to StudySpot?
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#login"
              type="button"
              role="tab"
              aria-controls="login"
              aria-selected="true"
            >
              Already Registered?
            </button>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">
          <!--new to studyspot tab-->
          <div
            class="tab-pane fade my-4"
            id="register"
            role="tabpanel"
            aria-labelledby="register-tab"
          >
            <h1 class="text-center">Register</h1>
            <form action="/register" method="POST" class="pb-2">
              <!--email address-->
              <div class="mb-3">
                <label class="form-label" for="email-register"
                  >Email Address</label
                >
                <input
                  class="form-control"
                  type="email"
                  id="email-register"
                  name="email"
                  required
                />
              </div>
              <!--password-->
              <div class="mb-3">
                <label class="form-label" for="password-register"
                  >Password</label
                >
                <input
                  class="form-control"
                  type="password"
                  id="password-register"
                  name="password"
                  required
                />
              </div>
              <!--confirm password-->
              <div class="mb-3">
                <label class="form-label" for="confirmpw-register"
                  >Confirm Password</label
                >
                <input class="form-control text-center"" type="password"
                id="confirmpw-register" name="confirmpw" required />
              </div>
              <!--sign up button-->
              <div class="text-center">
                <button class="btn btn-sebtn-outline-dark">Sign Up</button>
              </div>
            </form>
          </div>

          <!--already registered tab-->
          <div
            class="tab-pane fade show active my-4"
            id="login"
            role="tabpanel"
            aria-labelledby="login-tab"
          >
            <h1 class="text-center">Sign In</h1>
            <form action="/login" method="POST" class="pb-2">
              <div class="mb-3">
                <label class="form-label" for="email-login"
                  >Login with Email</label
                >
                <input
                  class="form-control"
                  type="text"
                  id="email-login"
                  name="email"
                  required
                />
              </div>
              <div class="mb-3">
                <label class="form-label" for="password-login">Password</label>
                <input
                  class="form-control"
                  type="password"
                  id="password-login"
                  name="password"
                  required
                />
              </div>
              <!-- Trigger modal -->
              <p>
                <a
                  class="font-italic nounderline"
                  href="#exampleModal"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  >Forgot your Password?</a
                >
              </p>
              <div class="text-center">
                <button class="btn btn-sebtn-outline-dark">Sign In</button>
              </div>
            </form>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Reset Password
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <p class="py-2">
                      Enter your Email and 6 Digit Pin to Reset Password.
                    </p>
                    <form action="/resetpw" method="POST" class="py-2 mb-3">
                      <div class="mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input
                          class="form-control"
                          type="email"
                          id="email"
                          name="email"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="pin">6 Digit Pin</label>
                        <input
                          class="form-control"
                          type="password"
                          id="pin"
                          name="pin"
                          required
                        />
                      </div>

                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Cancel
                      </button>

                      <button type="button" class="btn btn-sebtn-outline-dark">
                        Reset Password
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="mt-auto"><%- include('../partials/footer'); %></footer>
  </body>
</html>
