<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%- include('../partials/modal'); %>
    <div class="container-fluid">
      <div><%- include('../partials/header'); %></div>
      <div class="row mt-5">
        <div class="container-fluid mt-5 pt-3 d-flex justify-content-center">
          <h1 class="">TRXX 0930-1030</h1>
          <form class="">
            <button class="btn" data-toggle="button" aria-pressed="false">
              <ion-icon
                name="heart-outline"
                size="large"
                style="float: right"
              ></ion-icon>
            </button>
            Add to Favourites
          </form>
        </div>
      </div>
      <div class="row">
        <% for (let i=0; i<12; i++) { %>
        <div class="col-md-6 card" style="width: 18rem">
          <div class="card-body">This is some text within a card body.</div>
        </div>
        <% } %>
      </div>
    </div>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
