<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="d-flex flex-column min-vh-250">
    <div class="card border-light mb-3" style="background-color: #fff">
      <div class="container-fluid">
        <div><%- include('../partials/header'); %></div>
        <div class="row mt-5">
          <div class="btn container-fluid mt-5 pt-3 d-flex">
            <a href="/" class="btn btn-sebtn-outline-dark shadow-none">Back</a>
          </div>
          <div class="container-fluid pt-3 d-flex">
            <h1 class="text-left">TRXX 0930-1030</h1>
            <!-- Add to favourites button -->
            <form class="">
              <button class="btn" data-toggle="button" aria-pressed="false">
                <ion-icon
                  name="heart-outline"
                  size="large"
                  style="float: right"
                ></ion-icon>
              </button>
              <!-- Add code to change to filled heart if room is in favourites -->
            </form>
          </div>
        </div>

        <div class="row">
          <!--Left Column-->
          <div class="col-6 themed-grid-col">
            <!-- js code to render 1 card with Quiet tag -->
            <% for (let i=0; i<1; i++) { %>
            <div class="col-md-6 card my-4" style="width: 100%">
              <div class="card-body">Quiet 🤫</div>
            </div>
            <!-- js code to render 2 cards with Group tag -->
            <% } %> <% for (let i=0; i<2; i++) { %>
            <div class="col-md-6 card my-4" style="width: 100%">
              <div class="card-body">
                Group
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-person-plus-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"
                  />
                </svg>
              </div>
            </div>
            <!-- js code to render 1 card with Alone tag -->
            <% } %> <% for (let i=0; i<1; i++) { %>
            <div class="col-md-6 card my-4" style="width: 100%">
              <div class="card-body">Alone ☝</div>
            </div>
            <!-- js code to render 1 card with no tag -->
            <% } %> <% for (let i=0; i<1; i++) { %>
            <div class="col-md-6 card my-4" style="width: 100%">
              <!-- Open modal to book slot -->
              <a
                class=""
                href="#where"
                data-bs-toggle="modal"
                data-bs-target="#where"
                ><div class="card-body"></div
              ></a>
              &nbsp;
            </div>
            <% } %>
          </div>

          <!--Right Column-->
          <div class="col-6 themed-grid-col">
            <!-- js code to render 1 card with Meeting tag -->
            <% for (let i=0; i<1; i++) { %>
            <div class="col-md-6 card my-4" style="width: 100%">
              <div class="card-body">Meeting 💬</div>
            </div>
            <!-- js code to render 2 cards with Group tag -->
            <% } %> <% for (let i=0; i<2; i++) { %>
            <div class="col-md-6 card my-4" style="width: 100%">
              <div class="card-body">
                Group
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-person-plus-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"
                  />
                </svg>
              </div>
            </div>
            <!-- js code to render 2 cards with no tag -->
            <% } %> <% for (let i=0; i<2; i++) { %>
            <div class="col-md-6 card my-4" style="width: 100%">
              <!-- Open modal to book slot -->
              <a
                class=""
                href="#where"
                data-bs-toggle="modal"
                data-bs-target="#where"
                ><div class="card-body"></div
              ></a>
              &nbsp;
            </div>
            <% } %>
          </div>
        </div>
        <%- include('../partials/bookRoomModal'); %>
      </div>
      <footer><%- include('../partials/footer'); %></footer>
    </div>
  </body>
</html>
